<div class="row">
<% @articles.each do |article| %>
  <div class="col-xs-12">
    <%= link_to article.title, article_path(article) %>
    <p><%= article.content %></p>
  </div>
  <% end %>
  <%= link_to "Add new", new_article_path(@article), :class => "btn btn-primary" %>
</div>
